{% extends "base.html" %}

{% block beforeContent %}
{{ super() }}
<link rel="stylesheet" href="https://gradio.s3-us-west-2.amazonaws.com/2.6.2/static/bundle.css">
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check if you are eligible for legal aid</h1>
    <iframe
      src="https://https://huggingface.co/spaces/NimaBoscarino/hotdog-gradio.hf.space"
      width="850"
      height="450"
></iframe>
  </div>
</div>
{% endblock %}