{% extends "base.html" %}

{% block beforeContent %}
{{ super() }}
<link rel="stylesheet" href="https://gradio.s3-us-west-2.amazonaws.com/2.6.2/static/bundle.css">
{% endblock %}

{% block content %}
<main role="main" id="content" class="govuk-main-wrapper ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check if you can get legal aid</h1>
      <p class="govuk-body">Legal aid can help pay for legal advice.</p>
      <p class="govuk-body">You'll be asked general questions about your legal problem and your income and savings. You’ll be told where you can get legal advice.</p>
      {{ govukButton({
          'text': "Start now",
          'href': "choice",
          'isStartButton': true
        }) }}
      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">You’ll only get guidance on whether or not you can get legal aid - you will not get a final decision until a caseworker looks at your case.</p>
    </div>
  </div>
</main>
{% endblock %}